<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Especie de colección con clave y valor, puedo crear tantas como necesite-->
		<add key="poke-images" value="D:\Documentos\PracticasSabri\CSharp\poke-images\"/>
	</appSettings>
</configuration>